@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Press+Start+2P');

@font-face {
  font-family: 'Tron';
  src: url('https://rawgit.com/ManzDev/codevember2017/master/assets/tron.woff'),
       url('https://rawgit.com/ManzDev/codevember2017/master/assets/tron.ttf');
}

/*******/

#screen {
  perspective:500px;
  background:linear-gradient(to bottom, transparent, #001616); 
  position:absolute;
  top:0;
  left:-50%;  
}

#canvas {
  animation:canvasspin 10s ease forwards,
            moveback 10s ease forwards 10s;
  z-index: -1;
}

@keyframes canvasspin {
  0% {
    transform: rotateX(40deg) translateY(100px);
  }
  100% {
    transform: rotateX(61deg) translateY(100px);
  }
}

@keyframes moveback {
  0% {
    transform: rotateX(61deg) translateY(100px);
  }
  100% {
    transform: rotateX(61deg) translateY(0);
  }
}

#logo {
  text-align:center;
  font-family:Tron;
  font-size:72px;  
  color: #38bdf8;
  filter:drop-shadow(0 0 5px #16abaf);
}

@keyframes appears {
  0% { opacity:0 }
  100% { opacity:1 }
}

.cyclotron {
  width:5500px;
  height:120px;
  border-top-right-radius: 120px 60px;  
  position:absolute;
  bottom:100px;
  left:-5500px;
  animation:speed .5s linear 25s forwards;
}

.blue.cyclotron {
  background: linear-gradient(to right, rgba(0, 100, 153, 0.75) 90%, #FFF 95%, RGBA(255,255,255, 0) 100%);
  z-index:1;
}

.skyblue.cyclotron {
  background: linear-gradient(to right, rgba(135, 206, 235, 0.75) 90%, #FFF 95%, RGBA(135,206,235, 0) 100%);
  bottom: 163px;
  z-index: 0;
  transform:translateX(-200px);
}

@keyframes speed {
  0% { left:-5500px }
  100% { left:-2000px }
}

.greetings {
  position:absolute;
  width:100%;
  text-align:center;
  bottom:127px;
  font-family:'Tron';
  font-size:42px;
  color:#38bdf8;
  z-index:5;
  animation:blink 2s linear infinite 25s;
  opacity:0;
}

@keyframes blink {
  0%, 49% { opacity:0 }
  50%, 100% { opacity:1 }
}